# Deep Learning & Medical Imaging Framework
torch>=2.4.0
torchvision>=0.19.0
monai>=1.3.0,<=1.6.1
nibabel>=5.2.0

# Numerical, Scientific & Image Processing
numpy>=1.26.0
scipy>=1.13.0
scikit-image>=0.24.0
pandas>=2.2.0
Pillow>=10.0.0
einops>=0.8.0

# Visualization & Logging
matplotlib>=3.8.0
tqdm>=4.66.0
tensorboard>=2.17.0
PyYAML>=6.0.1

# Optional Application & Serving
gradio>=4.40.0
